                <!--フッター-->
                <footer class="footer">
                    <div class="container">
                        ©2015 LiveStyles, Inc. All Rights Reserved.
                    </div>
                </footer>