<div class="header">
    <nav class="hidden-xs">
        <ul class="left hide-on-med-and-down">
            <li><a target="_blank" href="http://livestyles.tv/news">NEWS</a></li>
            <li><a target="_blank" href="http://livestyles.tv/aboutus">ABOUT US</a></li>
            <li><a target="_blank" href="http://livestyles.tv/services">SERVICES</a></li>
            <li><a href="/lp/how-to/">HOW TO</a></li>
            <li><a target="_blank" href="http://livestyles.tv/patent">PATENT</a></li>
            <li><a target="_blank" href="http://livestyles.tv/recruit">RECRUIT</a></li>
            <li><a target="_blank" href="http://livestyles.tv/contact">CONTACT</a></li>
        </ul>
        <ul class="social-icons">
            <li>
                <a href="https://twitter.com/tixeebox1" target="_blank">
                    <i class="icon-twitter"></i>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="visible-xs navbar-fixed-top">
        <ul class="right hide-on-med-and-down">
            <li><a target="_blank" href="http://livestyles.tv/news">NEWS</a></li>
            <li><a target="_blank" href="http://livestyles.tv/aboutus">ABOUT US</a></li>
            <li><a target="_blank" href="http://livestyles.tv/services">SERVICES</a></li>
            <li><a href="/lp/how-to/">HOW TO</a></li>
            <li><a target="_blank" href="http://livestyles.tv/patent">PATENT</a></li>
            <li><a target="_blank" href="http://livestyles.tv/recruit">RECRUIT</a></li>
            <li><a target="_blank" href="http://livestyles.tv/contact">CONTACT</a></li>
        </ul>
        <ul id="slide-out" class="side-nav">
            <li><a target="_blank" href="http://livestyles.tv/news">NEWS</a></li>
            <li><a target="_blank" href="http://livestyles.tv/aboutus">ABOUT US</a></li>
            <li><a target="_blank" href="http://livestyles.tv/services">SERVICES</a></li>
            <li><a href="/lp/how-to/">HOW TO</a></li>
            <li><a target="_blank" href="http://livestyles.tv/patent">PATENT</a></li>
            <li><a target="_blank" href="http://livestyles.tv/recruit">RECRUIT</a></li>
            <li><a target="_blank" href="http://livestyles.tv/contact">CONTACT</a></li>
        </ul>
        <a data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <a href="#top" class="brand-logo center"><img src="img/logo-white.png" alt="tixeeboxロゴ"></a>
        <ul class="social-icons">
            <li>
                <a href="https://twitter.com/tixeebox1" target="_blank">
                    <i class="icon-twitter"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>