<% var title = "tixeebox（ティクシーボックス）| スマホチケット発券アプリ"; %>
<% include template/_head %>
<body id="fn-hesiveTop">
    <% include template/_googleanalytics %>

    <div class="parallax-container">
        <div class="parallax-logo hidden-xs">
            <img src="img/logo2.png" alt="tixeeboxロゴ">
        </div>
        <div class="parallax">
            <img src="img/key_visual1.png" alt="tixeeboxイメージ">
        </div>
    </div>

    <% include template/_nav %>
    <div class="wrapper">
        <section class="row container">
            <a id="fn-showHere"></a>
            <div class="header u-text-center u-pt30">
                <img src="/img/logo.png" alt="tixeeboxロゴ">
            </div>
            <h2 class="heading-a u-text-center">
                電子チケットの発券、及び入場管理！<br>
                スマホユーザーに新たな電子チケット入場体験を！
            </h2>
            <p class="grey-text text-darken-3 lighten-3">
                “tixeebox”（ティクシーボックス）は電子チケットの発券に特化し、システム開発不要の主催者に導入しやすく、ユーザーにも利用しやすい電子チケットアプリサービスです。tixeeboxでは転売の抑制としてSMSでのユーザー認証、チケット譲渡の制限機能を備えている他、電子チケットならではのチケットデザイン、動画などのコンテンツの付与にも対応可能です！
            </p>
            <p class="grey-text text-darken-3 lighten-3">
                従来は紙で受取っていたチケットを、“tixeebox”アプリなら簡単に電子化＆スマホにダウンロード！コンビニや店頭に、チケットを受取に行く必要はありません。 イベント当日は、スマートフォンを見せてチケットを「もぎって」もらうだけ！紙チケットと同じ方法で入場できます！
            </p>
        </section>
        <section class="row container u-pt60">
            <div class="col s6">
                <section class="card">
                    <h1 class="heading-b">チケットを簡単に<br>スマホで受け取り</h1>
                    <div class="card-image">
                        <img src="img/image1.png">
                    </div>
                </section>
            </div>
            <div class="col s6">
                <section class="card">
                    <h1 class="heading-b">入場方法は<br>チケット画面を"もぎる"だけ！</h1>
                    <div class="card-image">
                        <img src="img/image2.png">
                    </div>
                </section>
            </div>
        </section>
        <section class="row container">
            <div class="col s6">
                <section class="card">
                    <h1 class="heading-b">友達にLINEやメールで<br>チケットを送付可能</h1>
                    <div class="card-image">
                        <img src="img/image3.png">
                    </div>
                </section>
            </div>
            <div class="col s6">
                <section class="card">
                    <h1 class="heading-b">発券手数料は0円<br>アカウント登録も無料！</h1>
                    <div class="card-image">
                        <img src="img/image4.png">
                    </div>
                </section>
            </div>
        </section>
        <section class="row container u-pt60">
            <div class="col s12">
                <div class="thumbnail u-text-center u-mb30">
                    <img src="img/ticket_flow.png" alt="チケットの流れ">
                </div>

                <p class="grey-text text-darken-3 lighten-3">
                    tixeeboxはスマートフォン向けの電子チケット発券に特化したツールで、主催者、プレイガイドが販売したチケットの電子化が行えます。これまでの電子チケットとは異なり、販売(決済)は自社、発券はtixeeboxで行えるため既存のシステムに容易に電子チケット発券を組み込むことが出来ます。CSVでの連携の他、APIでの連携にも対応しているので、システムを繋ぎ込めば継続的かつ、リアルタイムに電子チケットの発券をすることが可能になります。
                </p>
            </div>
        </section>
        <section class="row container u-pt60 u-pb60">
            <div class="col s12">
                <div class="thumbnail u-text-center">
                    <div class="visible-xs">
                        <img src="img/contact-sp.png" alt="お問い合わせ">
                    </div>
                    <div class="hidden-xs">
                        <img src="img/contact.png" alt="お問い合わせ">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <% include template/_footer %>
    <% include template/_script %>
