<% include template/_headEn %>

<body id="skrollr-body" class="page-en">

    <% include template/en/_nav %>
    <!--  <% include template/_bgskrollr %> 背景アインメーション-->

        <div class="container">
            <!-- ロゴ画像 -->
            <div class="main_panel">
                <img src="img/logo-en.png" class="main-panel-image" alt="Magical Mirai 2015Logo">
            </div>
            <!-- 背景画像 -->
            <div class="main-background">
            </div>

            <div class="row banner">
                <div class="col-md-12">
                    <a href="#section02" class="btn btn-info btn-long page-scroll">
                        Event dates and <div class="visible-br visible-xs"><br></div>when to download your ticket(s)
                    </a>
                    <p class="alert-a">You may only claim (download) your ticket(s) from tixee's "Ticket Center" from 12pm, 5 days prior to the event.</p>
                </div>
            </div>
            <!-- アプリのインストールと会員登録方法 -->
            <% include template/en/_section01 %>
            <!-- チケット受け取り方法 -->
            <% include template/en/_section02 %>
            <!-- 入場方法 -->
            <% include template/en/_section03 %>
            <!-- ニュースと情報 -->
            <% include template/en/_section04 %>
            <!-- よくある質問 -->
            <% include template/en/_section05 %>
            <!-- お問い合わせ -->
            <% include template/en/_section06 %>
        </div><!--end container-->
<% include template/_footer %>
<% include template/_script %>

