.visible-xs {
    display: none !important;
}

@media screen and (max-width:992px){

    .col.s6 {
        width: 100% !important;
    }

    .visible-xs {
        display: block !important;
    }

    .hidden-xs {
        display: none !important;
    }
}
